@import "src/style";

.header {
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: 999;
  height: vh(70);
  padding: vh(20) vw(40);
  box-sizing: border-box;
  @include flex(space-between, center);
}

.icon {
  width: auto;
  font-size: 18px;
  @include flex(flex-start, center);


}

.item {
  @include flex(flex-start, center);
  width: auto;
  position: relative;
  padding: vh(5) 0;
  box-sizing: content-box;
  margin: 0 vw(14);
  cursor: pointer;

  &:hover {
    animation: colorful 0.8s ease-in-out;
    animation-fill-mode: forwards;
  }

  svg {
    margin-right: vw(10);
  }
}

.active-item {
  border-bottom: 2px solid #FFCA3A;
  color: #FFCA3A;
}

.subnode-container {
  position: absolute;
  width: 100%;
  background-color: #000;
  top: calc(100% + 10px);
  border-bottom: 2px solid #ffca3ab0;

  animation: scrollIn 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: forwards;
}

.subnode-item {
  width: 100%;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-size: 14px;

  &:hover {
    background-color: #ffca3ab0;
  }


}

.logo {
  font-family: 'Dancing Script', cursive;
}

/*--------------------------------------- annimation ------------------------------------------*/
@keyframes colorful {
  0% {
    color: #ffca3a3b;
  }

  50% {
    color: #ffca3aa1;
  }

  100% {
    color: #ffca3abf;
  }
}


@keyframes jump {
  0% {
    transform: translateY(0) scale(1);
  }

  50% {
    transform: translateY(-10px) scale(1.2);
  }

  100% {
    transform: translateY(0) scale(1);
  }
}

@keyframes scrollIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}