@import "src/style";

.app {
  width: 100vw;
  height: 100vh;
  background: $theme-main;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 40px;
  letter-spacing: 5px;
  @include flex(center, center, column);
  user-select: none;
}

.content {
  width: 100vw;
  height: calc(100vh - vh(70));
  @include flex(center, center, column);
}

.tag {
  position: fixed;
  right: vw(10);
  bottom: vh(10);
  font-size: 12px;
  font-family: 'Dancing Script', cursive;
}