@import 'src/style';

.main {
  width: 100%;
  height: 100%;
  background-color: #000;
  @include flex(center, center)
}

.drag-tip {
  background-color: #3f3f3f;
  padding: vh(60) vw(40);
  border-radius: vw(15);
  font-family: "Dancing Script", cursive;
}